<div ID="aboutDiv" align='center' name="hideable_div" style="display:none;">
<B><FONT SIZE="+1">About ZunZunSite3</FONT></B><BR><BR>
This site is dedicated to Jesus of Nazareth, and was written by James R. Phillips.<BR>
<BR>
The site is a natural outgrowth of my previous Research and Development days in Washington, D.C.,<BR>
my previous software engineering work in Tokyo, Japan and now in Birmingham, AL, USA.<BR>
<BR><BR>
The name of the project, ZunZunSite3, is taken from my wife's Burmese nickname.<BR>
</div>
