<DIV ID="dataLabels" align='center' name="hideable_div" style="display:none;">
<B>Data labels for graphs</B><BR><BR>
Here you can enter the
{% ifequal dimensionality '1' %}X data label {% endifequal %}
{% ifequal dimensionality '2' %}X and Y data labels {% endifequal %}
{% ifequal dimensionality '3' %}X, Y and Z data labels {% endifequal %}
to be printed on the report graphs.
<br>
<br>
<TABLE BORDER="0">
<TR>
<TD>
    <TABLE CELLPADDING="5">
        <TR>
        <TD ALIGN="CENTER">
        <FONT SIZE="-1">Label for first independent data (X)</FONT>
        <HR>
        {{ mainForm.dataNameX }}
        </TD>
        </TR>
    </TABLE>
</TD>
{% ifnotequal dimensionality '1' %}
    <TD>&nbsp;&nbsp;&nbsp;</TD>
    <TD>
        <TABLE CELLPADDING="5">
            <TR>
            <TD ALIGN="CENTER">
{% ifequal dimensionality '2' %}
            <FONT SIZE="-1">Label for dependent data (Y)</FONT>
            <HR>
{% else %}
            <FONT SIZE="-1">Label for second independent data (Y)</FONT>
            <HR>
{% endifequal %}
            {{ mainForm.dataNameY }}
            </TD>
            </TR>
        </TABLE>
    </TD>
{% endifnotequal %}
</TR>
</TABLE>
{% ifequal dimensionality '3' %}
<BR>
<TABLE CELLPADDING="5">
    <TR>
    <TD ALIGN="CENTER">
    <FONT SIZE="-1">Label for dependent data (Z)</FONT>
    <HR>
    {{ mainForm.dataNameZ }}
    </TD>
    </TR>
</TABLE>
{% endifequal %}
</DIV>
