<DIV ID="dataPointOptions" align='center' name="hideable_div" style="display:none;">
<B>3D Data Point Size Options</B>
<BR>
<BR>
Here you can select the data point size for 3D surface plots and 3D scatter plots.
<br>
<br>
<TABLE BORDER="0">
    <TR>
        <TD ALIGN=CENTER>3D Point Size</TD>
    </TR>
    <TR valign='top'>
    <TD>
        <TABLE BORDER="1" CELLPADDING="5"><TR><TD align='left'>
        {{ mainForm.dataPointSize3D }}
        </TD></TR></TABLE>
    </TD>
    </TR>
</TABLE>
</DIV>
