<DIV ID="equationFamilyInclusion" align='center' name="hideable_div" style="display:none;">
<CENTER><B>Equation Family Inclusion</B>
<BR>
<BR>
Select families of equations to include in the function finder.
<BR>
NOTE: Polyfunctionals are only used in absolute SSQ fitting.
<br>
<br>
<TABLE BORDER="1" CELLPADDING="10"><TR><TD ALIGN=LEFT>
{{ mainForm.equationFamilyInclusion }}
</TD></TR></TABLE>
<BR>
<INPUT TYPE="BUTTON" onClick="javascript:$('*[name=equationFamilyInclusion]').attr('checked', false);" VALUE="Clear All Selections">
</DIV>
