<div ID="feedbackDiv" align='center' name="hideable_div" style="display:none;">
<B><FONT SIZE="+1">Feedback</FONT></B><BR><BR>
Enter comments, questions, or general feedback here then press<BR>
"Send Feedback". Suggestions for equations are always welcome.<BR>
Your email address isn't required unless you'd like a reply.<BR>
<BR>
or try the ZunZunSite3 <a href='http://groups.google.com/group/zunzun_dot_com/'>Google discussion group</a>.
<BR><BR>
<FORM method='POST' ACTION="/Feedback/" TARGET="_blank">
{{ feedbackForm.feedbackText }}
<BR><BR>
{{ feedbackForm.emailAddress }}<BR>Email Address for Reply <B>(optional)</B><BR><BR>
<INPUT TYPE="submit" VALUE="Send Feedback">
</form>
</div>
