<DIV ID="graphScale" align='center' name="hideable_div" style="display:none;">
<B>Graph scaling and lin/log control</B><BR><BR>
Here you can choose the scaling of the data{% ifnotequal dimensionality '3' %} plots.{% else %}<BR>plots and the 3D scatterplots.{% endifnotequal %}
<br>
Log plots require data values greater than zero.
<br>
<br>
<TABLE BORDER="0">
    <TR>
        <TD ALIGN=CENTER>X Scale (2D Only)</TD>
{% ifnotequal dimensionality '1' %}
        <TD> &nbsp; </TD>
        <TD ALIGN=CENTER>Y Scale (2D Only)</TD>
{% ifequal dimensionality '3' %}
        <TD> &nbsp; </TD>
        <TD ALIGN=CENTER>Z Scale (2D Only)</TD>
{% endifequal %}
{% endifnotequal %}
    </TR>
    <TR>
        <TD>
            <TABLE BORDER="1" CELLPADDING="5">
            <TR>
            <TD>
                <TABLE BORDER="0">
                <TR><TD ALIGN=LEFT>
                   {{ mainForm.graphScaleRadioButtonX }}
                </td></tr>
                <tr><td align='right'>
                   Max X: {{ mainForm.graphScaleManuallyEnteredMaxX }}<br>
                   Min X: {{ mainForm.graphScaleManuallyEnteredMinX }}<br>                
                </td></tr>
                <tr><td> &nbsp; </td></tr>
                <tr><td align='left'>
                   {{ mainForm.logLinX }}
                </TD></TR>
                </TABLE>
            </TD>
            </TR>
            </TABLE>
        </TD>
{% ifnotequal dimensionality '1' %}
        <TD> &nbsp; </TD>
        <TD>
            <TABLE BORDER="1" CELLPADDING="5">
            <TR>
            <TD>
                <TABLE BORDER="0">
                <TR><TD ALIGN=LEFT>
                    {{ mainForm.graphScaleRadioButtonY }}
                </td></tr>
                <tr><td align='right'>
                    Max Y: {{ mainForm.graphScaleManuallyEnteredMaxY }}<br>
                    Min Y: {{ mainForm.graphScaleManuallyEnteredMinY }}<br>
                </td></tr>
                <tr><td> &nbsp; </td></tr>
                <tr><td align='left'>
                   {{ mainForm.logLinY }}
                </TD></TR>
                </TABLE>
            </TD>
            </TR>
            </TABLE>
        </TD>
{% ifequal dimensionality '3' %}
        <TD> &nbsp; </TD>
        <TD>
            <TABLE BORDER="1" CELLPADDING="5">
            <TR>
            <TD>
                <TABLE BORDER="0">
                <TR><TD ALIGN=LEFT>
                   {{ mainForm.graphScaleRadioButtonZ }}
                </td></tr>
                <tr><td align='right'>
                   Max Z: {{ mainForm.graphScaleManuallyEnteredMaxZ }}<br>
                   Min Z: {{ mainForm.graphScaleManuallyEnteredMinZ }}<br>                
                </td></tr>
                <tr><td> &nbsp; </td></tr>
                <tr><td align='left'>
                   {{ mainForm.logLinZ }}
                </TD></TR>
                </TABLE>
            </TD>
            </TR>
            </TABLE>
        </TD>
{% endifequal %}
{% endifnotequal %}
    </TR>
</TABLE>
</DIV>
