<DIV ID="graphColors" align='center' name="hideable_div" style="display:none;">
<B>Graph colors</B>
<BR>
<BR>
Here you can select various color options for the output graphs.
<br>
<br>
<TABLE BORDER="1" CELLPADDING="5" ALIGN="CENTER"><tr><td>
 <table>
  <TR>
    {{ mainForm.graphBackgroundColor }}
	<TD align='left'>Graph background color</TD>
  </TR>
  <TR>
    {{ mainForm.graphTextColor }}
	<TD align='left'>Graph text color</TD>
  </TR>
  <TR>
    {{ mainForm.graphLineColor }}
	<TD align='left'>Graph line color</TD>
{% ifequal dimensionality '3' %}
  </TR>
  <TR>
    {{ mainForm.graphFrameColor }}
	<TD align='left'>Graph frame color</TD>
  </TR>
  <TR>
    {{ mainForm.graphMeshColor }}
	<TD align='left'>3D mesh color</TD>
{% endifequal %}
  </TR>
 </table>
</td></tr></TABLE>
</DIV>
