<DIV ID="scientificNotation" align='center' name="hideable_div" style="display:none;">
<B>Scientific Notation</B>
<BR>
<BR>
Here you can control scientific notation on the data plots{% ifnotequal dimensionality '3' %}.{% else %}<BR>
and the contour plots.{% endifnotequal %}
<br>
<br>
<TABLE BORDER="0">
    <TR>
        <TD ALIGN=CENTER>X Control</TD>
{% ifnotequal dimensionality '1' %}
        <TD> &nbsp; </TD>
        <TD ALIGN=CENTER>Y Control</TD>
{% ifequal dimensionality '3' %}
        <TD> &nbsp; </TD>
        <TD ALIGN=CENTER>Z Control</TD>
{% endifequal %}
{% endifnotequal %}
    </TR>
    <TR>
    <TD>
        <TABLE BORDER="1" CELLPADDING="5"><TR><TD align='left'>
        {{ mainForm.scientificNotationX }}
        </TD></TR></TABLE>
    </TD>
{% ifnotequal dimensionality '1' %}
    <TD> &nbsp; </TD>
    <TD>
        <TABLE BORDER="1" CELLPADDING="5"><TR><TD align='left'>
        {{ mainForm.scientificNotationY }}
        </TD></TR></TABLE>
    </TD>
{% ifequal dimensionality '3' %}
    <TD> &nbsp; </TD>
    <TD>
        <TABLE BORDER="1" CELLPADDING="5"><TR><TD align='left'>
        {{ mainForm.scientificNotationZ }}
        </TD></TR></TABLE>
    </TD>
{% endifequal %}
{% endifnotequal %}
    </TR>
</TABLE>
</DIV>
