<DIV ID="splineControl" align='center' name="hideable_div" style="display:none;">
<B>Spline Control Parameters</B><BR><BR>
Here you can enter the control parameters for the spline.
<br>
<br>
<TABLE BORDER="0">
<TR>
    <TD ALIGN="RIGHT">
    {{ mainForm.splineSmoothness }}
    </TD>
    <TD ALIGN="LEFT">
    <FONT SIZE="-1">Smoothness (larger numbers are smoother)</FONT>
    </TD>
</TR>
<tr><td> &nbsp; </td><td> &nbsp; </td></tr>
<TR>
    <TD ALIGN="RIGHT">
    {{ mainForm.splineOrderX }}
    </TD>
    <TD ALIGN="LEFT">
{% ifequal dimensionality '2' %}
    <FONT SIZE="-1">Spline order</FONT>
{% else %}
    <FONT SIZE="-1">Spline order for first independent data (X)</FONT>
{% endifequal %}
    </TD>
</TR>
{% ifequal dimensionality '3' %}

<tr><td> &nbsp; </td><td> &nbsp; </td></tr>

<TR>
    <TD ALIGN="RIGHT">
    {{ mainForm.splineOrderY }}
    </TD>
    <TD ALIGN="LEFT">
    <FONT SIZE="-1">Spline order for second independent data (Y)</FONT>
    </TD>
</TR>
{% endifequal %}
</TABLE>
</DIV>
