<DIV ID="udfEntry" align='center' name="hideable_div" style="display:none;">
<B>Text Function Editor</B><BR><BR>
Cut-and-paste text or edit your function here
<br>
<br>
{{ mainForm.udfEditor }}
<BR>
<BR>
<br>

<b>Example User Defined Functions</b>
<br>
<table border=1>
{% ifequal dimensionality '2' %}
<tr><td align='left'><pre> C * exp(2.2/X) + 51.0 + pi ** e - sinc(1.1) / [B + A]  # coefficients are A, B and C </pre></td></tr>
<tr><td align='left'><pre> Scale * exp(X) + offset  # Scale and offset are coefficents in this example </pre></td></tr>
<tr><td align='left'><pre> # the following three examples are equivalent 
 power(X+shift, C0)  # shift and C0 are coefficients in this example 
 [X+shift] ** C0     # shift and C0 are coefficients in this example 
 (X+shift) ** C0     # shift and C0 are coefficients in this example </pre></td></tr>
<tr><td align='left'><pre> MX + B  # This fails, it should be written as M*X + B </pre></td></tr>
{% else %}
<tr><td align='left'><pre> C * X + 51.0 + pi ** e - [Y * A] + B  # coefficients are A, B and C </pre></td></tr>
<tr><td align='left'><pre> Scale * exp(X) * exp(Y) + offset  # Scale and offset are coefficents in this example </pre></td></tr>
<tr><td align='left'><pre> # the following three examples are equivalent 
 power(X+Y+shift, C0)  # shift and C0 are coefficients in this example 
 [X+Y+shift] ** C0     # shift and C0 are coefficients in this example
 (X+Y+shift) ** C0     # shift and C0 are coefficients in this example </pre></td></tr>
<tr><td align='left'><pre>MXY + B  # This fails, it should be written as M*X*Y + B </pre></td></tr>
{% endifequal %}
</table>

<br>
<b>Links To Help For Pre-Defined Internal Functions</b>
<br>
<table border=1>
{% for key, listValue in udfFunctionsDict.items %}
    <tr>
        <td align='right'>{{ key }}:</td>
        <td>
        {% for value in listValue %}
            <a href='http://docs.scipy.org/doc/numpy/reference/generated/numpy.{{ value }}.html' target='_blank'>{{ value }}</a>&nbsp;
        {% endfor %}
    </tr>
{% endfor %}
</table>

<br>
<b>Pre-Defined Constants</b>
<br>
<table border=1>
<tr><td align='left'>pi</td><td>3.1415926535897931</td></tr>
<tr><td align='left'>e</td><td>2.7182818284590451</td></tr>
</table>
<br>
</DIV>
