{% extends "zunzun/generic_page_template.html" %}

{% block icon_links %}
    <link rel="icon" href="/temp/static_images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/temp/static_images/favicon.ico" type="image/x-icon">
{% endblock %}

{% block body_contents %}

{% if statisticalDistributions %}
    <FORM ACTION="/StatisticalDistributions/{{ dimensionality }}/" METHOD="POST" TARGET="_blank">
{% else %}
    <FORM ACTION="/CharacterizeData/{{ dimensionality }}/" METHOD="POST" TARGET="_blank">
{% endif %}

{# MENU --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
{# MENU --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
{# MENU --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
{# MENU --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}

{# menu item titles ------------------------------------------------------- #}
<TABLE ALIGN="CENTER"><TR>
    <TD ALIGN="CENTER"><BASEFONT SIZE="3">Pulldown Menu</TD>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD>
</TR>
<TR>
    <TD ALIGN="CENTER"><BASEFONT SIZE="3">
             <select ID="s1" size=1>
        <option>
        <option value='introDiv' SELECTED>Introduction
        <option value='dataEntry'>Text Data Editor
{% if statisticalDistributions %}
        <option value='statDistSortOrder'>Statistical Distribution Sort Order
{% endif %}
        <option value='dataLabels'>Data Labels For Graphs
        <option value='graphScale'>Graph Scaling And Lin/Log Control
{% ifequal dimensionality '3' %}
        <option value='graphSize'>Animation and Graph Sizes
{% else %}
        <option value='graphSize'>Graph Size
{% endifequal %}
        <option value='scientificNotation'>Scientific Notation For Graphs
{% ifequal dimensionality '3' %}
        <option value='rotationAngles'>3D Viewing Angles
        <option value='dataPointOptions'>3D Data Point Display Options
{% endifequal %}
        </select>
    </TD>
    <TD>&nbsp;</TD>
    <TD><BASEFONT SIZE="3">
{% if statisticalDistributions %}
        <INPUT TYPE="SUBMIT" VALUE="Submit (may take a few minutes)">
{% else %}
        <INPUT TYPE="SUBMIT" VALUE="Submit">
{% endif %}
    </TD>
    <TD>&nbsp;</TD>
    <TD><BASEFONT SIZE="3"><A HREF="/">Home</A></TD>
</TR>
</TABLE>
<br>


{# DIVS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
{# DIVS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
{# DIVS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
{# DIVS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}

{# introduction div ------------------------------------------------------- #}
<div ID="introDiv" align='center' name="hideable_div">
<B><FONT SIZE="+1">Introduction</FONT></B><BR><BR>
Please select an option from the pull-down menu above.
</div>

{% if statisticalDistributions %}
    {% include "zunzun/divs/stat_dist_sort_order_div.html" %}
{% endif %}

{% include "zunzun/divs/data_entry_div.html" %}
{% include "zunzun/divs/data_labels_div.html" %}
{% include "zunzun/divs/graph_scale_div.html" %}
{% include "zunzun/divs/graph_size_div.html" %}
{% include "zunzun/divs/scientific_notation_div.html" %}

{% ifequal dimensionality '3' %}
    {% include "zunzun/divs/rotation_angles_div.html" %}
{% endifequal %}

{% ifnotequal dimensionality '1' %}
    {% include "zunzun/divs/data_point_options_3d_div.html" %}
{% endifnotequal %}

</form>
{% endblock body_contents %}
