{% extends "zunzun/generic_page_template.html" %}

{% block icon_links %}
    <link rel="icon" href="/temp/static_images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/temp/static_images/favicon.ico" type="image/x-icon">
{% endblock %}

{% block css_definitions %}
    {% if equationInstance.userSelectablePolyfunctionalFlag or equationInstance.userCustomizablePolynomialFlag or equationInstance.userSelectableRationalFlag %}
        {% include "zunzun/polyfunctional_css_style.html" %}
    {% endif %}
{% endblock %}

{% if equationInstance.userSelectablePolynomialFlag %}
    {% ifequal dimensionality '2' %}
        {% block additional_jquery_ready_code %}
        {% if equationInstance.userSelectablePolynomialFlag %}
            $('#id_polynomialOrderX2D').change(polynomial_changed);
            polynomial_changed();
            {% endif %}
            {% endblock %}
    {% endifequal %}
{% endif %}

{% block additional_javascript %}
    {% if equationInstance.userSelectablePolynomialFlag %}
        {% ifequal dimensionality '2' %}
        function polynomial_changed() {
            var selected = $('#id_polynomialOrderX2D').prop('selectedIndex');
            $('*[name^="fixedCoefficient"]').css('visibility', 'visible');
            $('*[name^="fixedCoefficient"]').slice(selected+1).each(function(index){$(this).css('visibility', 'hidden');});
            $('*[name^="nameOfFixedCoefficient"]').css('visibility', 'visible');
            $('*[name^="nameOfFixedCoefficient"]').slice(selected+1).each(function(index){$(this).css('visibility', 'hidden');});
            $('*[name^="estimatedCoefficient"]').css('visibility', 'visible');
            $('*[name^="estimatedCoefficient"]').slice(selected+1).each(function(index){$(this).css('visibility', 'hidden');});
            $('*[name^="nameOfEstimatedCoefficient"]').css('visibility', 'visible');
            $('*[name^="nameOfEstimatedCoefficient"]').slice(selected+1).each(function(index){$(this).css('visibility', 'hidden');});
            $('*[name^="upperCoefficientBound"]').css('visibility', 'visible');
            $('*[name^="upperCoefficientBound"]').slice(selected+1).each(function(index){$(this).css('visibility', 'hidden');});
            $('*[name^="lowerCoefficientBound"]').css('visibility', 'visible');
            $('*[name^="lowerCoefficientBound"]').slice(selected+1).each(function(index){$(this).css('visibility', 'hidden');});
            $('*[name^="nameOfCoefficientBound"]').css('visibility', 'visible');
            $('*[name^="nameOfCoefficientBound"]').slice(selected+1).each(function(index){$(this).css('visibility', 'hidden');});
        };
        {% endifequal %}
    {% endif %}
    {% if equationInstance.userSelectablePolyfunctionalFlag or equationInstance.userCustomizablePolynomialFlag%}
        {% include "zunzun/javascript/JavascriptCommonToFunctionMatrices.js" %}
        {% ifequal dimensionality '2' %}
            {% include "zunzun/javascript/JavascriptForFunctionMatrix2D.js" %}
        {% else %}
            {% include "zunzun/javascript/JavascriptForFunctionMatrix3D.js" %}
        {% endifequal %}
    {% endif %}
    {% if equationInstance.userSelectableRationalFlag %}
        {% include "zunzun/javascript/JavascriptCommonToFunctionMatrices.js" %}
        {% ifequal dimensionality '2' %}
            {% include "zunzun/javascript/JavascriptForRationalMatrix2D.js" %}
        {% else %}
            {% include "zunzun/javascript/JavascriptForRationalMatrix3D.js" %}
        {% endifequal %}
    {% endif %}
{% endblock %}

{% block body_contents %}

<FORM ACTION="/FitEquation__1___/{{ dimensionality }}/{{ quotedEquationFamilyName }}/{{ quotedEquationName  }}/" METHOD="POST" TARGET="_blank">

{# MENU --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
{# MENU --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
{# MENU --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
{# MENU --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}

{# menu item titles ------------------------------------------------------- #}
<TABLE ALIGN="CENTER"><TR>
    <TD ALIGN="CENTER"><BASEFONT SIZE="3">Pulldown Menu</TD>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD>
</TR>
<TR>
    <TD ALIGN="CENTER"><BASEFONT SIZE="3">
        <select ID="s1" size=1>
        <option>
        <option value='introDiv' SELECTED>Introduction
        <option value='dataEntry'>Text Data Editor
{% if equationInstance.userDefinedFunctionFlag %}
        <option value='udfEntry'>User Defined Function Editor
{% endif %}
{% if equationInstance.splineFlag %}
        <option value='splineControl'>Spline Control Parameters
{% else %}
        <option value='fittingTarget'>Fitting Target
{% endif %}
        <option value='dataLabels'>Data Labels For Graphs
{% if equationInstance.userSelectablePolynomialFlag %}
        <option value='polynomialSelection'>Polynomial Selection
{% endif %}
{% if equationInstance.userSelectablePolyfunctionalFlag %}
    {% ifequal dimensionality '2' %}
        <option value='polyfunctionalSelection'>Select Polyfunctions
    {% else %}
        <option value='polyfunctionalSelection'>Matrix Of Polyfunctions
    {% endifequal %}
{% endif %}
{% if equationInstance.userCustomizablePolynomialFlag %}
    {% ifequal dimensionality '2' %}
        <option value='polynomialCustomization'>Customize Polynomial
    {% else %}
        <option value='polynomialCustomization'>Matrix Of Polyfunctions
    {% endifequal %}
{% endif %}
{% if equationInstance.userSelectableRationalFlag %}
        <option value='polyrationalSelection'>Rational Equation Selection
{% endif %}
        <option value='graphScale'>Graph Scaling And Lin/Log Control
{% ifequal dimensionality '3' %}
        <option value='graphSize'>Animation and Graph Sizes
{% else %}
        <option value='graphSize'>Graph Size
{% endifequal %}
{% ifequal dimensionality '3' %}
        <option value='rotationAngles'>3D Viewing Angles
        <option value='dataPointOptions'>3D Data Point Display Options
{% endifequal %}
        <option value='scientificNotation'>Scientific Notation For Graphs
{% if not equationInstance.userSelectablePolyfunctionalFlag %}
    {% if not equationInstance.userSelectableRationalFlag %}
        {% if not equationInstance.userDefinedFunctionFlag %}
            {% if not equationInstance.splineFlag %}
                {% if not equationInstance.userSelectablePolynomialFlag %}
                    {% if not equationInstance.userCustomizablePolynomialFlag %}
                        <option value='estimatedCoefficientEntry'>Estimated Initial Coefficients
                        <option value='fixedCoefficientEntry'>Hold Coefficients Constant
                        <option value='coefficientBoundsEntry'>Enter Coefficient Bounds
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
{% if equationInstance.userSelectablePolynomialFlag %}
    {% ifequal dimensionality '2' %}
        <option value='estimatedCoefficientEntry'>Estimated Initial Coefficients
        <option value='fixedCoefficientEntry'>Hold Coefficients Constant
        <option value='coefficientBoundsEntry'>Enter Coefficient Bounds
    {% endifequal %}
{% endif %}
        </select>
    </TD>
    <TD>&nbsp;</TD>
    <TD><BASEFONT SIZE="3">
{% if equationInstance.userSelectablePolyfunctionalFlag or equationInstance.userCustomizablePolynomialFlag or equationInstance.userSelectableRationalFlag %}
        <INPUT TYPE="button" onClick="javascript:readPolyFlags();document.forms[0].submit();" VALUE="Submit">
{% else %}
    {% if equationInstance.userDefinedFunctionFlag %}
            <INPUT TYPE="SUBMIT" VALUE="Submit (may take several minutes)">
    {% else %}
            <INPUT TYPE="SUBMIT" VALUE="Submit">
    {% endif %}
{% endif %}
    </TD>
    <TD>&nbsp;</TD>
    <TD><BASEFONT SIZE="3"><A HREF="/">Home</A></TD>
</TR>
</TABLE>
<br>


{# DIVS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
{# DIVS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
{# DIVS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
{# DIVS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}

{# introduction div ------------------------------------------------------- #}
<div ID="introDiv" align='center' name="hideable_div">
<B><FONT SIZE="+1">Introduction</FONT></B><BR><BR>
Please select an option from the pull-down menu above.
</div>

{% if equationInstance.userDefinedFunctionFlag %}
{% include "zunzun/divs/user_defined_function_entry_div.html" %}
{% endif %}
{% include "zunzun/divs/data_entry_div.html" %}
{% if equationInstance.splineFlag %}
{% include "zunzun/divs/spline_control_div.html" %}
{% else %}
{% include "zunzun/divs/fitting_target_div.html" %}
{% endif %}
{% include "zunzun/divs/data_labels_div.html" %}
{% include "zunzun/divs/graph_scale_div.html" %}
{% include "zunzun/divs/graph_size_div.html" %}
{% include "zunzun/divs/scientific_notation_div.html" %}

{% if equationInstance.userSelectablePolynomialFlag %}
    {% include "zunzun/divs/polynomial_selection_div.html" %}
{% endif %}

{% if equationInstance.userSelectablePolyfunctionalFlag %}
    {% include "zunzun/divs/polyfunctional_selection_div.html" %}
{% endif %}

{% if equationInstance.userCustomizablePolynomialFlag %}
    {% include "zunzun/divs/polynomial_customization_div.html" %}
{% endif %}

{% if equationInstance.userSelectableRationalFlag %}
    {% include "zunzun/divs/polyrational_selection_div.html" %}
{% endif %}

{% if not equationInstance.userSelectablePolyfunctionalFlag %}
    {% if not equationInstance.userSelectableRationalFlag %}
        {% if not equationInstance.userCustomizablePolynomialFlag %}
            {% if not equationInstance.splineFlag %}
                {% if not equationInstance.userDefinedFunctionFlag %}
                    {% include "zunzun/divs/fixed_coefficient_entry_div.html" %}
                    {% include "zunzun/divs/estimated_coefficient_entry_div.html" %}
                    {% include "zunzun/divs/coefficient_bounds_entry_div.html" %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

{% ifequal dimensionality '3' %}
    {% include "zunzun/divs/rotation_angles_div.html" %}
{% endifequal %}
    {% include "zunzun/divs/data_point_options_3d_div.html" %}


</form>
{% endblock body_contents %}
