<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% autoescape off %}
{% spaceless %}
<html lang="en">
<head>
<title>
{% block title %}
    {{ title_string }}
{% endblock %}
</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $('*[name="hideable_div"]').css('display', 'none');
    $('#introDiv').css('display', 'block');
    $('#s1').prop('selectedIndex', 1); $('#s1').change(f1);
    $('#s2').prop('selectedIndex', 1); $('#s2').change(f2);
    $('#s3').prop('selectedIndex', 1); $('#s3').change(f3);
    $('#s4').prop('selectedIndex', 1); $('#s4').change(f4);
{% block additional_jquery_ready_code %}{% endblock %}
});
function f1() {
    $('*[name="hideable_div"]').css('display', 'none');
    $('#' + $('#s1 option:selected').val()).css('display', 'block');
    if ($('#s1').prop('selectedIndex') == 1) {
        $('#s2').prop('selectedIndex', 1);
        $('#s3').prop('selectedIndex', 1);
        $('#s4').prop('selectedIndex', 1);
    } else {
        $('#s2').prop('selectedIndex', 0);
        $('#s3').prop('selectedIndex', 0);
        $('#s4').prop('selectedIndex', 0);
    }
    $('#s1').blur();
};
function f2() {
    $('*[name="hideable_div"]').css('display', 'none');
    $('#' + $('#s2 option:selected').val()).css('display', 'block');
    if ($('#s2').prop('selectedIndex') == 1) {
        $('#s1').prop('selectedIndex', 1);
        $('#s3').prop('selectedIndex', 1);
        $('#s4').prop('selectedIndex', 1);
    } else {
        $('#s1').prop('selectedIndex', 0);
        $('#s3').prop('selectedIndex', 0);
        $('#s4').prop('selectedIndex', 0);
    }
    $('#s2').blur();
};
function f3() {
    $('*[name="hideable_div"]').css('display', 'none');
    $('#' + $('#s3 option:selected').val()).css('display', 'block');
    if ($('#s3').prop('selectedIndex') == 1) {
        $('#s1').prop('selectedIndex', 1);
        $('#s2').prop('selectedIndex', 1);
        $('#s4').prop('selectedIndex', 1);
    } else {
        $('#s1').prop('selectedIndex', 0);
        $('#s2').prop('selectedIndex', 0);
        $('#s4').prop('selectedIndex', 0);
    }
    $('#s3').blur();
};
function f4() {
    $('*[name="hideable_div"]').css('display', 'none');
    $('#' + $('#s4 option:selected').val()).css('display', 'block');
    if ($('#s4').prop('selectedIndex') == 1) {
        $('#s1').prop('selectedIndex', 1);
        $('#s2').prop('selectedIndex', 1);
        $('#s3').prop('selectedIndex', 1);
    } else  {
        $('#s1').prop('selectedIndex', 0);
        $('#s2').prop('selectedIndex', 0);
        $('#s3').prop('selectedIndex', 0);
    }
    $('#s4').blur();
};
{% block additional_javascript %}{% endblock %}
</script>
{% block css_definitions %}{% endblock %}
{% block meta_tag_definitions %}{% endblock %}
{% block icon_links %}{% endblock %}
</head>
<body {% block within_body_opening_html_tag %}{% endblock %}>

<TABLE ALIGN="CENTER">
<TR>
<TD><IMG SRC="/temp/static_images/small_logo.png" ALT="Logo" BORDER="0"></TD>
<TD> &nbsp; </TD>
<TD ALIGN="CENTER"><B>{{ header_text }}</B></TD>
<TD> &nbsp; </TD>
<TD><IMG SRC="/temp/static_images/small_logo.png" ALT="Logo" BORDER="0"></TD>
</TR>
</TABLE>

{% block body_contents %}{% endblock %}

<div align='center' style="display:block;" id='page_footer'>
<BR>
<BR>
<BR>
<BR>
<HR WIDTH='20%'>
<HR WIDTH='35%'>
<HR WIDTH='50%'>
<center>
<BR>
<BR>
The fitting source code for the site is at the <a href='https://github.com/zunzun/pyeq3'>github pyeq3 repository</a>.
<br><br>
<a href='http://dwsim.inforside.com.br/wiki/index.php?title=Downloads#Plugins'>DWSIM has a plug-in</a> that allows the fitting code to run locally with a GUI
<br><br>
</center>
<HR WIDTH='50%'>
<HR WIDTH='35%'>
<HR WIDTH='20%'>
<BR>
<BR>
</div>

</body>
</html>
{% endspaceless %}
{% endautoescape %}
