{% extends "zunzun/generic_page_template.html" %}

{% block title %}
    ZunZunSite3 Curve Fitting and Surface Fitting
{% endblock %}

{% block icon_links %}
    <link rel="icon" href="/temp/static_images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/temp/static_images/favicon.ico" type="image/x-icon">
{% endblock %}

{% block body_contents %}
<div align='center'>
<br>
<b>Error In Form</b><br><br>

<TABLE ALIGN="CENTER">

{% for field in mainForm %}
{% if field.errors %}
<TR><TD ALIGN='right'>{{field.label}} :</TD><TD ALIGN='left'>{{field.errors}}</TD></TR>
{% endif %}
{% endfor %}

{% if mainForm.non_field_errors %}
{% for error in mainForm.non_field_errors %}
<TR><TD ALIGN='right'>Form error :</TD><TD ALIGN='left'>{{error}}</TD></TR>
{% endfor %}
{% endif %}
</table>

<br><br>
Please close this page, correct any errors, and try again.

</div>
{% endblock body_contents %}
