{% extends "zunzun/generic_page_template.html" %}

{% block title %}
    ZunZunSite3 Curve Fitting and Surface Fitting
{% endblock %}

{% block icon_links %}
    <link rel="icon" href="/temp/static_images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/temp/static_images/favicon.ico" type="image/x-icon">
{% endblock %}

{% block body_contents %}

<br>
{% for equationClassProperties in sortedEquationClassPropertiesList %}

    {% if equationClassProperties.firstItemInSubmoduleFlag %}
        <center>
        <b>{{ dimensionality }}D {{ equationClassProperties.submoduleName }}</b>
        </center>
        <br>
        <table align='center'>
    {% endif %}
    
    <tr>
    <td nowrap align='right'>&nbsp;&nbsp;&nbsp;&nbsp;<a href='/Equation/{{ dimensionality }}/{{ equationClassProperties.submoduleName  }}/{{ equationClassProperties.url_quote_name }}/'>{{ equationClassProperties.name }} {{ dimensionality }}D</a></td>
    <td> &nbsp; </td>
        <td align='left'>
            {% if equationClassProperties.multiLineHtmlFlag %}<br>{% endif %}
            {{ equationClassProperties.HTML }}
            {% if equationClassProperties.webCitationLink %} &nbsp; <a href='{{ equationClassProperties.webCitationLink }}' target='_blank'>[web citation]</a>{% endif %}
            {% if equationClassProperties.multiLineHtmlFlag %}<br>{% endif %}
        </td>
    </tr>
    {% if equationClassProperties.lastItemInSubmoduleFlag %}
        <tr><td align='right'> &nbsp; </td><td> &nbsp; </td><td align='left'> &nbsp; </td></tr>
        <tr><td colspan=3><hr width='75%'></td></tr>
        <tr><td colspan=3><hr width='60%'></td></tr>
        <tr><td colspan=3><hr width='45%'></td></tr>
        <tr><td colspan=3><hr width='30%'></td></tr>
        <tr><td align='right'> &nbsp; </td><td> &nbsp; </td><td align='left'> &nbsp; </td></tr>
        </table>
        <br><br>
    {% else %}
        {% if equationClassProperties.lastItemInExtendedNameFlag %}
            <tr><td align='right'> &nbsp; </td><td> &nbsp; </td><td align='left'> &nbsp; </td></tr>
            <tr><td colspan=3><hr width='75%'></td></tr>
            <tr><td align='right'> &nbsp; </td><td> &nbsp; </td><td align='left'> &nbsp; </td></tr>
        {% endif %}
    {% endif %}

{% endfor %}

{% endblock body_contents %}
